/* src/Contact.css */
.contact-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1200px;
    margin: 4rem auto 0 auto; /* Hinzufügen von margin-top für Abstand zur Navbar */
    padding: 2rem;
}

.contact-text {
    flex: 1;
    max-width: 45%;
}

.contact-text h1 {
    margin-bottom: 1rem;
}

.contact-text p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.contact-details {
    margin-top: 2rem;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-icon {
    margin-right: 0.5rem;
    color: steelblue;
    font-size: 1.5rem;
}

.contact-form-container {
    flex: 1;
    max-width: 45%;
}

.contact-form-container h1 {
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Gleiche Abstände zwischen allen Eingabefeldern */
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-group {
    flex: 1;
    margin-bottom: 0; /* Entfernt zusätzlichen Abstand */
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Arial, sans-serif; /* Einheitliche Schriftart */
    box-sizing: border-box;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #999;
}

.form-group .error {
    border-color: red;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.submit-button {
    background-color: steelblue;
    color: white;
    border: 1px solid steelblue; /* Fügen Sie die Grenze hinzu, um die Höhe zu stabilisieren */
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-family: Arial, sans-serif; /* Einheitliche Schriftart */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.submit-button:hover {
    background-color: white;
    color: steelblue;
    border: 1px solid steelblue;
}
